.btn {
    display: inline-block;
    width: 221px;
    height: 60px;
    margin: 50px 0;
    line-height: 60px;
    border-radius: 50px;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
}
