.section-heading {
    font-family: $second-font-light;
    font-size: 40px;

    &--primary {
        color: $navy-color;
    }

    &--secondary {
        color: $primary-text-color;
    }
}

.section-info {
    margin-top: 20px;
    font-family: $primary-font-light;
    font-size: 16px;
    line-height: 28px;

    &--primary {
        color: $grey-text-color;
    }

    &--secondary {
        color: $navy-color;
    }
}

@media (max-width: 864px) {
    .section-heading {
        font-size: 26px;
    }

    .section-info {
        line-height: 26px;
    }
}

@media (max-width: 530px) {

    .section-info {
        margin-top: 15px;
    }

}