.socials {
    .icon {
      font-family: FontAwesome;
      font-size: 24px;
      color: $primary-text-color;
      padding-right: 20px;

      &:hover,
      &:active {
        color: $yellow-color;
        transition: 0.5s;
      }
    }

    .fa-facebook:before {
      content: "\f09a";    
    }

    .fa-twitter:before {
      content: "\f099";    
    }

    .fa-instagram:before {
      content: "\f16d";    
    }

    .fa-flickr:before {
      content: "\f16e";    
    }
  }