.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;

  &--relative {
      position: relative;
      overflow: hidden;
  }
}

.left-column {
  width: 40vw;
}

.right-column {
  width: 60vw;
}

/* https://github.com/h5bp/html5-boilerplate/blob/4ded8b5ce09d2b665e5893945b29d8d626691086/dist/css/main.css#L135-L145 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
  
}

/* sticky nav */
.fixed-nav nav{
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  background: $navy-color;
  line-height: 65px;
  padding-right: 165px;

  .logo {
    opacity: 0;
  }

  .nav-toggler {
    right: 40px;
    top: 15px;
  }

  @media (max-width: 486px) {
    height: 105px;
  }
}




